/* Variable definitions */
:root {
  --bg-color: black;
  --container-border: solid white 1px;
  --font-family: sans-serif;
  --other-word-color: #2F4F4F;
  --main-word-color: lightgrey;
  --center-letter-color: red;
  --center-letter-weight: bold;
  --menu-button-size: 4em;
  --menu-button-rotate: -60deg;
  --menu-button-translate: 2em;
  --loader-icon-size: 6em;
}
/* Full page stuff */
body {
  background-color: var(--bg-color);
  top:0px;
  bottom:0px;
  height:100vh;
  width:100vw;
  max-width: 100vw;
  overflow: hidden;
}
/* The text container for the RSVP reader */
.container {
  font-family: var(--font-family);
  overflow:hidden;
  width:300%;
  top: 0px;
  left:-100%;
  border: var(--container-border);
  white-space:nowrap;
  position:relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.left {
  width:50%;
  max-width:50%;
  display:inline-block;
  text-align:right;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.right {
  width:50%;
  max-width:50%;
  display:inline-block;
  text-align:left;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.other {
  color: var(--other-word-color);
  display:inline-block;
}
.first-half {
  display:inline-block;
  margin:0px;
  padding:0px;
  text-align:right;
  color: var(--main-word-color);
}
.center {
  color: var(--center-letter-color);
  font-weight: var(--center-letter-weight);
  display:inline-block;
  margin:0px;
  padding:0px;
  text-align:center;
}
.last-half {
  display:inline-block;
  margin:0px;
  padding:0px;
  text-align:left;
  color: var(--main-word-color);
}
.previous-word {

}
.next-word {

}
/* Bulk words styling */
.bulk-words {
  overflow: scroll;
  top: 1em;
  width: calc(100vw - 4em);
  padding-left: 1em;
  padding-right: 1em;
  max-height: calc(100vh - 16px - 1em - 7em);
}
.bulk-paragraph {

}
.bulk-paragraph:hover {

}
.bulk-paragraph .paragraph-select {
  color: transparent;
}
.bulk-paragraph:hover .paragraph-select {
  color:white;
}
/* UI block definitions */
.ui-block {
  width:100%;
  text-align:center;
  color:grey;
  display:inline-block;
  left:0px;
  top:0px;
  padding-top:1em;
  padding-bottom: 0.5em;
}
.current-book {
  padding: 3px;
  line-height: 35px;
  font-weight: bold;
  font-size: 30px;
  overflow-x: hidden;
  display: inline-block;
  max-width: calc(100% - 10em);
  height: 1em;
  overflow: hidden;
}
.bookmark-buttons {
  font-size: 20;
  padding: 10px;
  margin-left:0em;
  margin-right:0em;
  width: 5em;
}
.current-book:hover {
  border: solid 1px grey;
  radius: 3px;
}
/* modal stuff */
.load-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vw; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80vw; /* Could be more or less, depending on screen size */
}
/* Settings Icon Bar Stuff */
.icon-bar {
  text-align:center;
  color:grey;
  width:100vw;
  height:4em;
  max-height:4em;
  background-color:black;
  border-bottom: solid 1px grey;
  top:0px;
  padding-top:1em;
  position: fixed;
  animation: slideIn 0.2s linear;
}
.icon-bar-hidden {
  text-align:center;
  color:grey;
  width:100vw;
  height:4em;
  max-height:4em;
  background-color:black;
  border-bottom: solid 1px grey;
  top:-5em;
  padding-top:1em;
  position: fixed;
  animation: slideOut 0.2s linear;
}
@keyframes slideIn {
  0% {top: -5em;}
  100% {top: 0em;}
}
@keyframes slideOut {
  0% {top: 0em;}
  100% {top: -5em;}
}
.icon-bar-item {
  display: inline-block;
  text-align: left;
}
/* Navigation buttons */
.navi-button-container {
  width:100%;
  text-align:center;
  margin:0px;
  padding:0px;
  height: calc(16px + 1em)
}
.navi-button {
  width: 7em;
  max-width: 12%;
  font-size: 16px;
  padding: 0.5em 0.5em;
  border: none;
  margin: -2px;
  margin-top: 0px;
  border: 1px darkgrey solid;
}
.loader-container {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 999;
}
.loader-spinner {
  border:solid 5px red;
  width:7em;
  height:7em;
  border-radius:50%;
  border-top:solid 5px pink;
  z-index: 999999;
  animation: spin 2s linear infinite;
}
.loader-icon {
  width:6em;
  margin-top:1em;
  transform:translate(0.8em,-7.45em);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden {
  display: none;
}

/* The show settings icon styling */
.show-settings-icon {
  position: fixed;
  right:0px;
  height: var(--menu-button-size);
  width: var(--menu-button-size);
  float: right;
  transform: rotate(0deg) translate(0em);
  animation: rotateIn 0.2s linear;
}
.show-settings-icon-rotate {
  position: fixed;
  right:0px;
  height: var(--menu-button-size);
  width: var(--menu-button-size);
  float: right;
  transform: rotate(var(--menu-button-rotate)) translateX(var(--menu-button-translate));
  animation: rotateOut 0.2s linear;
}
@keyframes rotateIn {
  0% {transform: rotate(var(--menu-button-rotate)) translateX(var(--menu-button-translate));}
  100% {transform: rotate(0deg) translateX(0em);}
}
@keyframes rotateOut {
  0% {transform: rotate(0deg) translateX(0em);}
  100% {transform: rotate(var(--menu-button-rotate)) translateX(var(--menu-button-translate));}
}
